@font-face {
    font-family: "News";
    src: url("../assets/fonts/nyt-cheltenham-400-normal.woff") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@include placeholder();

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: auto;
  -webkit-text-size-adjust: none;
  color: #000;
  font-size: 14px;
}

body {
  width: auto;
  min-width: 768px;
  background-color: #F5F5F5;
  letter-spacing: 0;
}
.app-wrap {
  height: 100%;
  overflow-y: auto;
  padding-top: 39px;
}

input, button {
  border-radius: 0;
}
ul {
  padding-left: 0;
  text-align: left;
}
li {
  list-style: none;
  font-size: 12px;
  font-weight: 300;
}
button {
  font-size: 12px;
  font-weight: 300;
  &:focus {
    outline: none;
  }
}
input,
textarea,
select,
input[type=text] {
  color: #000;
  // -webkit-text-fill-color: #000;
}
p , .p {
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.checkbox[type='checkbox'] {
  display: none;

  & + label {
    position: relative;
    padding-left: 20px;
    font-size: 14px;

    &:before {
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -6px;
      display: block;
      content: '';
      width: 12px;
      height: 12px;
      border: 2px solid #000;
      background: #000;
      box-sizing: border-box;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &:checked + label:before {
    background: #FFDC19;
  }
}

.block{
  display: block;
}

.relative {
  position: relative;
}

.hidden {
  display: none !important;
}

.error-message {
  font-size: 12px;
  color: $red;
}

.uppercase {
  text-transform: uppercase;
}

.no-padding {
  padding: 0 !important;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

svg {
  border: none;
  &:active, &:focus {
    outline: 0;
  }
}
button > svg, a > svg {
  pointer-events: none;
}

.page-content {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
}
svg.ic_delete .cap {
  transform: rotate(0deg);
  transform-origin: 19px 6px;
  transition: transform 0.4s cubic-bezier(.33, 1.78, .52, .47);
}
.btn-group.show .btn:not([disabled]) svg.ic_delete .cap {
    transform: rotate(80deg);
}


div:focus {
  outline: none;
}

