button.btn-back {
  padding-left: 10px;
  height: 39px;
  & svg {
    margin: 0;
    margin-right: 6px;
  }

  &.black {
    background-color: #000 !important;
    color: #fff !important;

    & svg {
      stroke: #fff;
    }
  }

  &.transparent {
    background-color: transparent;
    color: #000 !important;
    border: 1px solid #000;

    &:hover {
      border: 1px solid #000 !important;
    }

    & svg {
      stroke: #000;
    }
  }
}