.page-header {
  position: fixed;
  height: 39px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  & .nav-item .btn {
    padding: 0;
    margin: 0;

    &:hover {
      text-decoration: none;
    }
  }
  & .nav-item a {
    display: inline-block;
    padding: 5px 15px;
    color: $dkGray;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    &.active {
      color: $blue;
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
    &.disabled {
      color: $dkGray !important;
      text-decoration: none;
      cursor: default;
    }
  }
  & .logo {
    height: 39px;
    width: 159px;
    display: block;
  }
  & .username {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: $dkGray;
    color: #fff;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
  }
  
  
}
.logout_wraper {
  padding-top: 2px;
  & .show > .btn.btn-secondary.dropdown-toggle {
      &:active, &:focus, &:hover {
        box-shadow: none !important;
        background: none !important;
        border: none !important;
    }
  }
  & .btn.dropdown-toggle {
    &:active, &:focus, &:hover {
        box-shadow: none !important;
        background: none !important;
        border: none !important;
    }
    &::after{
        position: relative;
        top: 3px;
    }
  }
  & .dropdown-menu {
    padding: 10px 15px;
    transform: translate3d(0, 0, 0) !important;
    top: 37px !important;
    left: -93px !important;
    &:before {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        width: 8px;
        height: 8px;
        border-left: solid 1px #E2E2E2;
        border-bottom: solid 1px #E2E2E2;
        transform: rotate(135deg);
        right: 18px;
        top: -5px;
        z-index: 1;
    }
    & .btn {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 14px;
        font-weight: 600;
        padding: 5px 0;
        background: transparent !important;
        margin-top: 0;
        &:hover, &:active, &:focus{
            background: transparent !important;
        }
        &.btn_logout {
            color: $red;
            &:hover{
                text-decoration: none;
            }
        }
    }
  }
}
.userrole_break {
  float: left;
  background: $ltGray;
  text-transform: uppercase;
  font-size: 10px;
  height: 13px;
  line-height: 14px;
  padding: 0 5px;
  font-weight: 600;
}
