.page-header {
  position: fixed;
  height: 39px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  & .nav-item {
    & a {
      display: inline-block;
      padding: 5px 15px;
      color: $dkGray;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
    }
    &.active a{
      color: $blue;
      text-decoration: none;
    }
    &:hover a{
      text-decoration: none;
      color: $blue;
    }
    &.disabled a{
      color: $dkGray !important;
      text-decoration: none;
      cursor: default;
    }
  }
  
  
}
