.upload-file-form {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;

  & input[type='file'] {
    display: none;

    &:hover + button {
      text-decoration: none;
      cursor: pointer;
    }
  }

  & button.btn-link {
    padding: 0;
    margin: 0;
    color: #000000;
    font-family: Avenir, sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    text-decoration: underline;
    background-color: transparent !important;
    border: none !important;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: #000000;
      text-decoration: none;
      background-color: transparent !important;
      border: none !important;
    }
  }

  & .preloader-wrap {
    position: relative;
    z-index: 9999;
  }
}